* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*? Header */

/** Barra superior */

.containerSup {
    display: none;
}

/** Barra de navegación */
.containerNav {
    background-color: #F0A83E;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/*! Nav desaparece para maquetar por mientras pero falta menu hamburguesa*/
.menu ul {
    display: none;
}

.containerLogo {
    color: #f4f4f4;
    font-weight: bold;
    display: flex;
}

.containerLogo img {
    width: 17px;
    height: 17px;
}

.containerLogo p span {
    color: #222222;
}

a {
    text-decoration: none;
}


/*? Main */

/** Cabezera */
.containerCab {
    background-image: url("../img/background.png");
    background-size: cover;
    height: 410px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.containerCab div {
    text-align: center;
    margin: 10px;
    color: #3C2313;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 180px;
}

.containerCab h2 {
    background-color: #f4f4f4;
    font-size: 30px;
    padding: 5px;
    border-radius: 6px;
    font-weight: normal;
}

.containerCab p {
    font-size: 16px;
}

.containerCab a {
    color: #f4f4f4;
    background-color: #F0A83E;
    font-size: 16px;
    border-radius: 6px;
    padding: 20px;
    align-self: center;
    text-transform: uppercase;
}

/** Productos destacados */

.containerProd {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.destacados h2 {
    color: #3C2313;
    font-size: 40px;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.destacados img {
    width: 90px;
    height: 83px;
}

.destacadosMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    padding: 0px;

}

.destacados li {
    list-style-type: none;
    font-size: 16px;
    color: #666666;
}

.destacadosMenu li a {
    color: #666666;
}

/** Productos tarjetas */
.prodCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prodCard div {
    position: relative;
    margin: 10px;
}

.prodNom, .prodPrecio {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
}

.prodNom {
    bottom: 30px;
    left: 50px;
    color: #3C2313;
}

.prodPrecio {
    bottom: 10px;
    left: 110px;
    color: #F0A83E;
}

/** Contacto */

#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacto legend {
    color: #3C2313;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
}

#contacto input {
    background-color: #3C2313;
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 40px;
    margin: 2px;
}

#contacto input::placeholder {
    font-size: 9px;
}

#contacto div {
    margin: 30px 0px 30px 0px;
}

#btnReset, #btnSubmit {
    border: none;
    width: 150px;
    height: 40px;
    color: #f4f4f4;
    border-radius: 20px;
}

#btnReset {
    background-color: #8A8787;
}

#btnSubmit {
    background-color: #F0A83E;
}

/** Suscripción */

.containerSusc {
    background-color: #F0A83E;
}

/*? Footer */

/** Información */
.containerInf {
    background-color: #3C2313;
    padding: 20px;
}

/** Barra final */

.containerFin {
    background-color: #222222;
    font-size: 10px;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 5px;
}


@media(min-width:768px){
    
    /*? Header */

    /** Barra superior */
    .containerSup {
        background-color: #222222;
        font-size: 10px;
        color: #f4f4f4;
        display: flex;
        justify-content: space-between;
        padding: 5px 50px 5px 50px;
    }
    
    .containerSup span {
        margin: 2px;
    }
    
    /** Barra de navegación */

    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 450px;
    }

    .menu ul li {
        list-style-type: none;
    }

    .menu ul li a {
        color: #f4f4f4;
    }


    /*? Main */

    /** Cabezera */

    /** Productos tarjetas */

    .prodCard {
        flex-direction: row;
        justify-content: center;
    }
}

